<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">休假申请</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink] = "['/table/leave']" class="ion-no-padding" lines="full" button detail="true">
      <!-- <ion-icon style="margin-left: 0.5rem;" color="primary" name="mail-outline" ></ion-icon> -->
      <ion-label style="margin-left: 0.5rem;">休假申请</ion-label>
    </ion-item>

    <ion-item [routerLink] = "['/table/ot']" class="ion-no-padding" lines="full" button detail="true">
      <!-- <ion-icon style="margin-left: 0.5rem;" color="primary" name="mail-outline" ></ion-icon> -->
      <ion-label style="margin-left: 0.5rem;">加班申请</ion-label>
    </ion-item>

    <ion-item [routerLink] = "['/table/attandance']" class="ion-no-padding" lines="full" button detail="true">
      <!-- <ion-icon style="margin-left: 0.5rem;" color="primary" name="mail-outline" ></ion-icon> -->
      <ion-label style="margin-left: 0.5rem;">我的考勤</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
